/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */

  .v-ui {
    background: url("img/background.jpg");
  }
  .root-panel {
    margin-top: 5px;
  }
  .logo-header {
    padding: 0 24px;
  }
  .wim-panel .v-label {
    font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
    font-size: 14px;
  }
  .wim-panel-wrapper {
    text-align: center;
  }
  .wim-panel > .v-slot:last-child {
    margin-top: 6px;
  }
  .wim-panel .v-label-title {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-top: 10px;
    height: 35px;
  }
  .info-column {
    border-width: 0 0 2px 0;
    border-color: grey;
    border-style: solid;
    width: 100%;
    padding: 6px 0px;
  }
  .info-column-value {
    text-align: right;
  }
  .info-column-value1 {
    text-align: right;
    border-width: 0 2px 0 0;
    border-color: grey;
    border-style: solid;
  }
  .info-axle {
    padding-top: 22px;
    .header {
      text-align: center !important;
      border-top-width: 2px !important;
    }
    .content, .number {
      text-align: right !important;
      padding-right: 7px;
    }
    .header, .content, .number {
      border-width: 0 2px 2px 0;
      border-color: grey;
      border-style: solid;
      height: 25px;
    }
    .number {
      border-width: 0 2px 2px 2px;
    }
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .toggle-btn {
    display: inline-block;
    position: relative;
    text-align: left;
    height: 30px;
    overflow: hidden;
    -webkit-box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 2px black, 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
  }

  .toggle-btn input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
  }

  .toggle-btn label {
    background-color: #3c3c3c;
    background-image: -webkit-linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(-40deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    text-align: center;
    font: bold 11px / 28px Arial, Sans-Serif;
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    margin: 1px;
    cursor: pointer;
  }

  .toggle-btn input:checked + label {
    background-color: #034B78;
    color: white;
  }

  .overload {
    font-weight: bold;
    color: firebrick;
  }
  .snapshot {
    margin: 0 12px !important;
  }

  /* Lay the options horizontally */
  .v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
  }

  /* Avoid wrapping if the layout is too tight */
  .v-select-optiongroup-horizontal {
    white-space: nowrap;
  }

  /* Some extra spacing is needed */
  .v-select-optiongroup-horizontal
  .v-select-option.v-radiobutton {
    padding-right: 10px;
  }
}